{% extends 'accounts/base.html' %}

{% block content %}

    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-center bg-transparent">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <h3 class="font-weight-bolder text-info text-gradient mb-0">{{ status }}!</h3>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <p class="mb-0">{{ message }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
