{% load static %}

<div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none"
       aria-hidden="true"
       id="iconSidenav">
    </i>

    <!-- <img src="{% static 'dashboard/img/jeweleryimslogo.png' %}" -->

    <a class="navbar-brand m-0 d-flex align-items-center" href="/">
        <!-- Dark logo (for light mode) -->
        <img src="{% static 'dashboard/img/logo-ct-dark.png' %}" class="navbar-brand-img h-100 logo-dark" alt="IMS Logo Dark">

        <!-- White logo (for dark mode) -->
        <img src="{% static 'dashboard/img/logo-ct.png' %}" class="navbar-brand-img h-100 logo-light" alt="IMS Logo Light">
        <span class="ms-1 font-weight-bold">IMS</span>
    </a>
</div>

<hr class="horizontal dark mt-0">
