{% for supplier in suppliers %}
    <tr>
        <td>
            <p class="text-xs font-weight-bold mb-0">{{ supplier.id }}</p>
        </td>

        <td>
            <a href="javascript:;" class="supplier-name" data-url="{% url 'supplier-details' %}">
                <p class="text-xs font-weight-bold mb-0">{{ supplier.name }}</p>
            </a>
        </td>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{ supplier.phone }}</p>
        </td>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{ supplier.gstin }}</p>
        </td>

        <td class="align-middle">
            <a href="javascript:;" class="edit-supplier text-secondary font-weight-bold text-xs"
                data-toggle="tooltip" data-original-title="Edit supplier" data-url="{% url 'supplier-details' %}">
                Edit
            </a>
        </td>

        <td class="align-middle">
            <a href="javascript:;" class="delete-supplier text-secondary font-weight-bold text-xs"
                data-toggle="tooltip" data-original-title="Delete supplier">
                Delete
            </a>
        </td>
    </tr>
{% endfor %}
